@{
    ViewData["Title"] = "Enter your name";
}

<div class="col-sm-5 mx-auto">
    <form method="POST">
        <h1>Enter your name</h1>
        <div class="mb-3">
            <input name="username" class="form-control" id="NameInput" maxlength="64">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>